<div class="container" ng-controller="FeedsShowCtrl">
	<div class="row">
    <div class="col-md-12">
      <h1>Feed: {{feed.title}}</h1>
      <div class="row">
      	<div class="col-md-6">
			   <a href="#/feeds" class="btn btn-warning btn-xs">Volver a Feeds</a>
		    </div>
        <div class="col-md-6" style="text-align: right;">
         <a href="" ng-click="fetchFeed(feed)" class="btn btn-success btn-xs">Recargar Feed</a>
        </div>
      </div>
      <div class="row" style="margin: 20px 0px;">
        <div class="col-md-12">

      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>

        </div>
      </div>
      <hr />
      <a href="" class="btn btn-danger btn-xs" ng-click="destroy()">Eliminar Feed</a>
    </div>
  </div>
</div>
