<div class="container">
	<div class="row">
    <div class="col-md-12">
      <div class="row">
      	<div class="col-md-8">
   	      <h1>{{item.title}}</h1>
      		<button class="btn btn-warning btn-xs" ng-controller="ApplicationCtrl" ng-click="historyBack()">Volver</button>
          <a href="{{item.url}}" class="btn btn-info btn-xs">Ir a entrada original</a>
          <span class="my-badge">Facebook {{fbdata}}</span>
          <span class="my-badge">Twitter {{twdata}}</span>
      	</div>
      </div>
      <div class="row" style="margin-top: 10px;">
      	<div class="col-md-8">
          <div ng-bind-html-unsafe="item.content"></div>
      	</div>
      </div>
    </div>
  </div>
</div>